{% extends "base.html" %}

{% block content %}
<div class="form">
    <form action="/update/product/{{product.0}}" method="post">
    <h1 class="text-center">Sistema de atualização</h1>
        
        <input type="number"    name="code"         placeholder="Código"                value="{{product.0}}"   class="input_update"><br>
        <input type="text"      name="name"         placeholder="Nome"                  value="{{product.1}}"   class="input_update""><br>
        <input type="number"    name="stock"        placeholder="Estoque disponível"    value="{{product.2}}"   class="input_update""><br>
        <input type="number"    name="value"        placeholder="Preço"                 value="{{product.3}}"   class="input_update"><br>
        <input type="text"      name="category"     placeholder="Categoria"             value="{{product.4}}"   class="input_update"><br>
        <button type="submit">atualizar</button>
    </form>
</div>
{% endblock %}